<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <style>
            .ScrollStyle
            {
                max-height: 350px;
                overflow-y: scroll;
            }
      
          </style>
</head>
<body>
    <div class="container">
        <p id="roomId" hidden><%= roomId %></p>
        
    </div>

    <main role="main" class="container">
  
            
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <h6 class="border-bottom border-gray pb-2 mb-0">Chat</h6>
        <div class="ScrollStyle">

                <% if (chats.length > 0) { %>
                    <% for(var i=0; i < chats.length; i++) { %>
                        <div class="media text-muted pt-3">
                            <p class="media-body pb-3 mb-0 small ">
                              <strong > <%= chats[i].sender %>: </strong>
                              <%= chats[i].message %>
                            </p>
                          </div>
                    <% } %>
                  <% } %>

                  <div >
             
                        <p id="output" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          
                        </p>
                      </div>
        </div>
                <div  class="container">
                    <div class="row">
                        <div class="col-2">
                            <div class="input-group flex-nowrap">    
                                <p id="handle"><%= user.email %></p>
                            </div>
                        </div>

                        <div class="col-2">
                                <div class="input-group flex-nowrap">    
                                    <input id="message" type="text" class="form-control" placeholder="message" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                        </div>

                        <div class="col-1">
                            <button class="btn btn-primary" id="send">Send</button>
                        </div>
                    </div>
                </div>
        </div>
        
      </main>
    <script src="/chat.js" ></script>

</body>
</html>